@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: none;
}

li{
	list-style-type:none;
}

input,img{
	border:none;
}
@font-face {
	font-family: "RTWSYUEGOTRIAL-REGULAR";
	src: url(../font/RTWSYUEGOTRIAL-REGULAR.OTF);
	font-family: "STHEITI-LIGHT";
	src: url(../font/STHEITI-LIGHT.TTC);
	font-family: "GBK";
	src: url(../font/GBK.TTF);
}
/* 登录界面背景区域*/
.main_bg {
	position:absolute;
	width: 92%; /*这里改成80%，相应的left也要改，改成（100-80）/ 2*/
	height:100%;
	left: 4%; /*根据width的变化而改动*/
	z-index:-2;
	overflow: hidden;
}
/*登录界面背景图*/
.main_bg img,.left_title img {
	 height: 100%;
	 width: 100%;
}
/*左上方公司logo*/
.left_title {
	width: 310px;
	height: 80px;
	position: absolute;
	z-index: 2;
	left: 15%;
	top:15%;
	background: url(../Content/images/left_title.png)  no-repeat;
}
.left_title {
	width: 329px;
	height: 77px;
	position: absolute;
	z-index: 2;
	left: 15%;
	top:15%;
	background: url(../Content/images/left_title.png)  no-repeat;
}
.login_box
{
    width: 404px;
	height: 279px;
	position: absolute;
	z-index: 2;
	left: 65%;
	top:33%;
	background: url(../Content/images/login_box.png)  no-repeat;
}
.psw_forget
{
    position:absolute;
    top:87%;
    left:20%;
    width:20%;
    height:10%;
}
.psw_forget a,.user_register a
{
    color:#4C4C4C;
    font-family:"GBK";
    font-size:16px;
}
.psw_forget a:hover,.user_register a:hover
{
    color:#3a84c8;;
    font-family:"GBK";
}
.user_register
{
    position:absolute;
    top:87%;
    left:60%;
    width:20%;
    height:10%;
}
.choose_old
{
    position:absolute;
    top:3%;
    left:20%;
    width:20%;
    height:10%;
}
.choose_old a
{
    color:#3a84c8;
    font-family:"GBK";
    font-size:16px;
}
.choose_maanger
{
    position:absolute;
    top:3%;
    left:60%;
    width:20%;
    height:10%;
}
.choose_maanger a
{
    color:#4C4C4C;
    font-family:"GBK";
    font-size:16px;
}
.name_input
{
    position:absolute;
    top:25%;
    left:20%;
    width:231px;
    height:32px;
    background:url(../Content/images/user_name.png)  no-repeat;
}
.psw_input
{
    position:absolute;
    top:45%;
    left:20%;
    width:231px;
    height:32px;
    background:url(../Content/images/psw_input.png)  no-repeat;
}
.psw_input input,.name_input input
{
    display:block;
    padding-left:40px;
    height:32px;
    width:190px;
    background:none;
}
.login_button
{
    position:absolute;
    top:65%;
    left:60%;
    width:77px;
    height:32px;
    background:url(../Content/images/login_button.png)  no-repeat;
    cursor: pointer;
}
.login_button:hover
{
    background:url(../Content/images/btn_hover.png)  no-repeat;
}
.remember_me
{
    position:absolute;
    top:68%;
    left:20%;
    width:18px;
    height:19px;
    background:url(../Content/images/remember_me.png)  no-repeat;
    cursor: pointer;
}
.remember_p
{
    position:absolute;
    top:68%;
    left:25%;
    width:20%;
    height:19px;
}
.remember_p p
{
    color:#4C4C4C;
    font-family:"GBK";
    font-size:15px;
}